@page "/DeleteClientes"
@page "/DeleteClientes/{ClienteId:int}"
@inject ClientesServices clientesService
@inject NavigationManager navigationManager
@inject IJSRuntime ijsRuntime
@inject NotificationService notificationService
@rendermode InteractiveServer

<PageTitle>Eliminar Cliente</PageTitle>

@if (cliente != null)
{
    <div class="container">
        <div class="card shadow-header">
            <!-- Header -->
            <div class="card-header">
                <h3><strong>Eliminar Cliente</strong></h3>
            </div>
            <div class="card-header">
                <h3 class="text-danger">¿Estás seguro de que quieres eliminar el cliente?</h3>
            </div>
            <!-- Body -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-header">
                                <h3 class="text-center"><strong>Datos del cliente</strong></h3>
                            </div>
                            <div class="card-body">
                                <div class="border-primary border-2 borde">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 text-center">
                                                <img src="Images/clientes.png" class="img-fluid" alt="Cliente">
                                            </div>
                                            <div class="col-md-8">
                                                <ul class="list-unstyled">
                                                    <li><strong>ClienteId:</strong> @cliente.ClienteId</li>
                                                    <li><strong>Nombre:</strong> @cliente.Nombre</li>
                                                    <li><strong>Apellido:</strong> @cliente.Apellido</li>
                                                    <li><strong>Tel&eacute;fono:</strong> @cliente.Telefono</li>
                                                    <li><strong>Email:</strong> @cliente.Email</li>
                                                    <li><strong>C&eacute;dula:</strong> @cliente.Cedula</li>
                                                    <li><strong>Fecha:</strong> @cliente.FechaCreacion.ToShortDateString()</li>
                                                    <li><strong>Direcci&oacute;n:</strong> @cliente.Direccion</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="card-footer">
                <button type="button" class="btn btn-outline-danger" @onclick="EliminarCliente"><i class="bi bi-trash-fill"></i> Eliminar</button>
                <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
            </div>
        </div>
    </div>
}
else
{
    <p>Cliente no encontrado.</p>
}

@code {
    [Parameter]
    public int ClienteId { get; set; }
    public Clientes cliente { get; set; } = new Clientes();

    protected override async Task OnInitializedAsync()
    {
        if (ClienteId > 0)
        {
            cliente = await clientesService.Buscar(ClienteId);
        }
    }

    private async Task EliminarCliente()
    {
        if (ClienteId == 0)
        {
            return;
        }

       
            if (await clientesService.Eliminar(cliente))
            {
                var mensajeExito = new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = "Éxito",
                        Detail = "Cliente eliminado exitosamente.",
                        Duration = 5000
                    };
                notificationService.Notify(mensajeExito);
                Volver();
            }
            else
            {
                var mensajeError = new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "Error",
                        Detail = "Error al eliminar el cliente.",
                        Duration = 5000
                    };
                notificationService.Notify(mensajeError);
            }
        
    }

    private void Volver()
    {
        navigationManager.NavigateTo("/IndexClientes");
    }
}
