@page "/CreateCompra"
@page "/CreateCompra/{CompraId:int}"
@inject ComprasService comprasService
@inject NavigationManager navigationManager
@inject InsumosService insumosService
@inject ProveedoresService proveedoresService
@inject IJSRuntime jsRuntime
@rendermode InteractiveServer

<EditForm Model="compra" OnValidSubmit="Guardar">
    <div class="card" style="max-width: 1000px; left: 50%; transform: translate(-50%);">
        <!-- Encabezado de la Página -->
        <div class="card-header" style="background-color: #5D5C61">
            <div class="row" style="flex-direction: row; align-items: center;">
                <div class="col-3">
                    <div style="width: 100%; display: flex; justify-content: center;">
                        <img src="https://cdn-icons-png.flaticon.com/512/1019/1019607.png" alt="pan" style="max-width: 100%; height: auto;">
                    </div>
                </div>
                <div class="col-9">
                    <h1 style="text-align: center; color: #FFFFFF;"><strong>Crear Compra</strong></h1>
                </div>
            </div>
        </div>

        <div class="card-body">
            <!-- Id y botón buscar -->
            <div class="row">
                <div class="col-6">
                    <label for="txtId" class="form-label">Compra Id:</label>
                    <div class="input-group">
                        <input type="number" id="txtId" class="form-control" @bind-value="compra.CompraId">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Proveedor y Método de Pago -->
                <div class="col-6">
                    <label for="txtProveedor" class="form-label"> Proveedor:</label>
                    <InputSelect class="form-select" @bind-Value="compra.ProveedorId">
                        @foreach (var proveedor in ProveedoresList)
                        {
                            <option value="@proveedor.ProveedorId">@proveedor.Nombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => compra.ProveedorId)" />
                </div>
                <div class="col-6">
                    <label for="txtMetodoPago" class="form-label"> Método de Pago:</label>
                    <InputSelect class="form-select" @bind-Value="compra.MetodoDePago">
                        @foreach (var metodo in MetodoPago)
                        {
                            <option value="@metodo">@metodo</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => compra.MetodoDePago)" />
                </div>


            </div>
            <div class="row">
                <!-- Monto Total y Fecha Pedida -->

                <div class="col-6">
                    <label for="txtFechaPedida" class="form-label"> Fecha Pedida:</label>
                    <input type="date" id="txtFechaPedida" class="form-control" @bind-value="compra.FechaPedida">
                    <ValidationMessage For="@(() => compra.FechaPedida)" />
                </div>
            </div>
            <div class="row">
                <!-- Observaciones -->
                <div class="col-12">
                    <label for="txtObservaciones" class="form-label"> Observaciones:</label>
                    <input type="text" id="txtObservaciones" class="form-control" @bind-value="compra.Observaciones">
                </div>
            </div>
            <!-- Agregar Detalle -->
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card card-header">
                        <h5>Agregar Detalle</h5>
                        <div class="row">
                            <div class="col-3">
                                <label for="txtInsumo" class="form-label"> Insumo:</label>
                                <InputSelect class="form-select" @bind-Value="compraDetalle.InsumoId">
                                    @foreach (var insumo in InsumosList)
                                    {
                                        <option value="@insumo.InsumoId">@insumo.Nombre</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => compraDetalle.InsumoId)" />
                            </div>
                            <div class="col-3">
                                <label for="txtCantidad" class="form-label"> Cantidad:</label>
                                <input type="number" id="txtCantidad" class="form-control" @bind-value="compraDetalle.Cantidad">
                                <ValidationMessage For="@(() => compraDetalle.Cantidad)" />
                            </div>
                            <div class="col-3">
                                <label for="txtPrecio" class="form-label"> Precio:</label>
                                <input type="number" id="txtPrecio" class="form-control" @bind-value="compraDetalle.Precio">
                                <ValidationMessage For="@(() => compraDetalle.Precio)" />
                            </div>
                            <div class="col-2">
                                <br />
                                <button name="btnAgregar" id="btnAgregar" class="btn btn-primary" @onclick="AgregarDetalle" type="button">
                                    <span class="bi bi-plus-circle"></span> Agregar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Tabla detalle -->
            <div class="table-responsive mt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Insumo</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var detalle in compra.ComprasDetalle)
                        {
                            var insumo = InsumosList.FirstOrDefault(i => i.InsumoId == detalle.InsumoId);
                            <tr>
                                <td>@(insumo != null ? insumo.Nombre : "No encontrado")</td>
                                <td>@detalle.Cantidad</td>
                                <td>@detalle.Precio</td>
                                <td>
                                    <button name="BtnEliminar" id="BtnEliminar" class="btn btn-danger mr-2" @onclick="@(() => EliminarDetalle(detalle))">
                                        <span class="bi bi-trash"></span> Eliminar
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>

                    <div class="col-6">
                        <label for="txtMontoTotal" class="form-label"> Monto Total:</label>
                        <h4 type="number" id="txtMontoTotal" class="form-control">@compra.MontoTotal</h4>
                    </div>
                </table>
            </div>
            <DataAnnotationsValidator />
        </div>

        <!-- Pie de página con botones -->
        <div class="card-footer text-center fs-5" style="background-color: #5D5C61">
            <!-- Botones -->
            <button name="btNuevo" id="btNuevo" class="btn btn-primary mr-2" @onclick="Nuevo" type="button">
                <span class="bi bi-plus-circle"></span> Nuevo
            </button>
            <button name="btnGuardar" id="btnGuardar" class="btn btn-success mr-2" @onclick="Guardar" type="button">
                <span class="bi bi-download"></span> Guardar
            </button>
            <button name="btnVolver" id="btnVolver" class="btn btn-secondary" @onclick="Atras" type="button">
                <span class="bi bi-arrow-left-square-fill"></span> Volver Atrás
            </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int CompraId { get; set; }
    public List<Insumos> InsumosList { get; set; } = new List<Insumos>();
    public List<Proveedores> ProveedoresList { get; set; } = new List<Proveedores>();
    public Compras compra { get; set; } = new Compras();
    public ComprasDetalle compraDetalle { get; set; } = new ComprasDetalle();
    public bool Condicion { get; set; } = false;
    public List<String> MetodoPago { get; set; } = new List<String> { "Contado", "Credito" };

    protected override async Task OnInitializedAsync()
    {
        InsumosList = await insumosService.Listar(t => true);
        ProveedoresList = await proveedoresService.Listar(t => true);
        compra.FechaPedida = DateTime.Now;
    }
    public async Task Guardar()
    {
        var Guardado = await comprasService.Guardar(compra);
    }
    public void AgregarDetalle()
    {
        if (compraDetalle.InsumoId != 0 && compraDetalle.Cantidad != 0 && compraDetalle.Precio != 0)
        {
            compra.ComprasDetalle.Add(compraDetalle);
            compra.MontoTotal += compraDetalle.Cantidad * compraDetalle.Precio;
            compraDetalle = new ComprasDetalle();
        }
        else
        {
            return;
        }
    }
    public void EliminarDetalle(ComprasDetalle detalle)
    {
        compra.ComprasDetalle.Remove(detalle);
        compra.MontoTotal -= detalle.Cantidad * detalle.Precio;
    }
    public void Nuevo()
    {
        compra = new Compras();
        compraDetalle = new ComprasDetalle();
    }
    public void Atras()
    {
        navigationManager.NavigateTo("/MenuCompras");
    }


}
