@page "/ViewCompras/{CompraId:int}"
@inject ComprasService comprasService
@inject InsumosService insumosService
@inject ProveedoresService proveedoresService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>View de Compras</PageTitle>
@if (compra != null)
{


    <div class="container">
        <div class="row">
            <div class="col">
                <div class=" card shadow-lg">
                    <div class="card-header">
                        <h3><strong>View de Compras</strong></h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="col-md-11">
                                    <h3 class="text-center"><strong>Datos de la Compra</strong></h3>
                                    <div class="border-primmary border border-2 borde">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="text-center">
                                                        <img src="Images/ventas.png" alt="Imagen" class="img-fluid img-thumbnail" style="width: 100px; height: auto;">
                                                    </div>
                                                </div>
                                                <div class="col-9">
                                                    <ul class="list-unstyled" style="margin-top: 20px; margin-bottom: 20px;">
                                                        <li><strong>Compra Id: @compra.CompraId</strong></li>
                                                        <li><strong>Proveedor: @compra.ProveedorId</strong></li>
                                                        <li><strong>Método de Pago: @compra.MetodoDePago</strong></li>
                                                        <li><strong>Fecha: @compra.MontoTotal</strong></li>
                                                        <li><strong>Fecha: @compra.FechaPedida</strong></li>
                                                        <li><strong>Observaciones: @compra.Observaciones</strong></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <h3><strong>Detalle de la compra</strong></h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Insumo</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var detalle in compra.ComprasDetalle)
                                    {
                                        <tr>
                                            <td>@InsumosList.FirstOrDefault(t => t.InsumoId == detalle.InsumoId)?.Nombre</td>
                                            <td>@detalle.Cantidad</td>
                                            <td>@detalle.Precio</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
}
else
{
    <p>Compra no encontrada</p>
}

@code {
    [Parameter]
    public int CompraId { get; set; }
    public Compras compra { get; set; }
    public List<Insumos> InsumosList { get; set; } = new List<Insumos>();
    public List<Proveedores> ProveedoresList { get; set; } = new List<Proveedores>();

    protected override async Task OnInitializedAsync()
    {
        compra = await comprasService.GetCompras(CompraId);
        if (compra != null)
        {
            InsumosList = await insumosService.Listar(t => true);
            ProveedoresList = await proveedoresService.Listar(t => true);
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/IndexCompras");
    }
}
