@page "/DeleteVentas"
@page "/DeleteVentas/{VentaId:int}"
@inject VentasService ventasService
@inject ClientesServices clientesService
@inject ProductosServices productosServices
@inject NavigationManager navigationManager
@inject IJSRuntime IJSRuntime
@rendermode InteractiveServer

<PageTitle>Eliminar Venta</PageTitle>

<div class="container">
    <div class="card shadow-header">
        <!-- Header -->
        <div class="card-header">
            <h3><strong>Eliminar Venta</strong></h3>
        </div>
        <div class="card-header">
            <h3 class="text-danger">¿Estás seguro de que quieres eliminar la venta?</h3>
        </div>
        <!-- Body -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h3 class="text-center"><strong>Datos de la venta</strong></h3>
                        </div>
                        <div class="card-body">
                            <div class="border-primary border-2 borde">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <img src="Images/ventas.png" class="img-fluid" alt="Venta">
                                        </div>
                                        <div class="col-md-8">
                                            <ul class="list-unstyled">
                                                <li><strong>VentaId:</strong> @ventas.VentaId</li>
                                                <li><strong>Fecha de Venta:</strong> @ventas.FechaVenta.ToShortDateString()</li>
                                                <li><strong>Cliente:</strong> @ventas.ClienteId</li>
                                                <li><strong>Concepto:</strong> @ventas.Concepto</li>
                                                <li><strong>Tipo de venta:</strong> @ventas.TipoVenta</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-lg">
                        <div class="card-header">
                            <h3 class="text-center"><strong>Detalle de la venta</strong></h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var detalle in ventas.DetalleVentas)
                                        {
                                            var producto = ProductosList.FirstOrDefault(i => i.ProductoId == detalle.ProductoId);
                                            <tr>
                                                <td>@(producto != null ? producto.Nombre : "No encontrado")</td>
                                                <td>@detalle.Cantidad</td>
                                                <td>@detalle.Precio</td>
                                                <td>@(detalle.Cantidad * detalle.Precio)</td>

                                            </tr>


                                        }
                                        <tr>
                                            <td colspan="3" class="text-right"><strong>Total:</strong></td>
                                            <td>@ventas.DetalleVentas.Sum(d => d.Cantidad * d.Precio)</td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="card-footer">
            <button type="button" class="btn btn-outline-danger" @onclick="EliminarVenta"><i class="bi bi-trash-fill"></i> Eliminar</button>
            <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
        </div>
    </div>
        
    </div>


@code {
    [Parameter]
    public int VentaId { get; set; }
    public Ventas ventas { get; set; } = new Ventas();
    public List<Productos> ProductosList { get; set; } = new List<Productos>();

    protected override async Task OnInitializedAsync()
    {
        if (VentaId >0)
        {
            ProductosList = await productosServices.Listar(t => true);
            ventas = await ventasService.GetVentas(VentaId) ?? new Ventas();

        }

    }
    public async Task EliminarVenta()
    {
        if (VentaId == 0)
        {
            return;
        }
        if (!await ventasService.Existe(VentaId))
        {
            return;
        }
        if (await ventasService.Eliminar(ventas))
        {
            Volver();
        }
    }
    public void Volver()
    {
        navigationManager.NavigateTo("/IndexVentas");
    }

}
