@page "/ViewVentas"
@page "/ViewVentas/{VentaId:int}"
@inject ProductosServices productosService
@inject VentasService ventasService
@inject ClientesServices clientesService

@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Detalles de Ventas</PageTitle>

<div class="container">
    <div class="row">
        <!-- Primera tabla -->
        <div class="col">
            <div class="card shadow-lg">
                <div class="card-header">
                    <h3><strong>View de Ventas</strong></h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <div class="col-md-11">
                                <h3 class="text-center"><strong>Datos de la Venta</strong></h3>
                                <div class="border-primmary border border-2 border">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="text-center">
                                                    <img src="Images/ventas.png" alt="Imagen" class="img-fluid img-thumbnail" style="width: 100px; height: auto;">
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <ul class="list-unstyled" style="margin-top: 20px; margin-bottom: 20px;">
                                                    <li><strong>VentaId: @ventas.VentaId</strong></li>
                                                    <li><strong>Fecha de Venta: @ventas.FechaVenta</strong></li>
                                                    <li><strong>Cliente: @ventas.ClienteId</strong></li>
                                                    <li><strong>Concepto: @ventas.Concepto</strong></li>
                                                    <li><strong>Tipo de venta: @ventas.TipoVenta</strong></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segunda tabla -->
        <div class="col">
            <div class="card shadow-lg">
                <div class="card-header">
                    <h3><strong>Detalle de la venta</strong></h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var detalle in ventas.DetalleVentas)
                                {
                                    var producto = ProductosList.FirstOrDefault(i => i.ProductoId == detalle.ProductoId);
                                    <tr>
                                        <td>@(producto != null ? producto.Nombre : "No encontrado")</td>
                                        <td>@detalle.Cantidad</td>
                                        <td>@detalle.Precio</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int VentaId { get; set; }
    public Ventas ventas { get; set; } = new Ventas();
    public List<Clientes> ClientesList { get; set; } = new List<Clientes>();
    public List<Productos> ProductosList { get; set; } = new List<Productos>();

    protected override async Task OnInitializedAsync()
    {
        ventas = await ventasService.GetVentas(VentaId);
        if (ventas != null)
        {
            ProductosList = await productosService.Listar(t => true);
            ClientesList = await clientesService.Listar(t => true);
            ventas.FechaVenta = DateTime.Now;
        }
    }
    public void Volver()
    {
        navigationManager.NavigateTo("/IndexVentas");
    }
}
