@page "/ViewProveedores"
@page "/ViewProveedores/{ProveedorId:int}"
@inject ProveedoresService proveedoresService
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@rendermode InteractiveServer

<PageTitle>Detalles de Proveedor</PageTitle>

@if (proveedor != null)
{
    <div class="container">
        <div class="card shadow-header">
            <!-- Header -->
            <div class="card-header">
                <h3 class="text-center"><strong>Detalles de Proveedor</strong></h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-header">
                                <h3 class="text-center"><strong>Datos del Proveedor</strong></h3>
                            </div>
                            <div class="card-body">
                                <div class="border-primary border-2 borde">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 text-center">
                                                <img src="Images/proveedor.png" class="img-fluid" alt="Proveedor">
                                            </div>
                                            <div class="col-md-8">
                                                <ul class="list-unstyled">
                                                    <li><strong>ProveedorId:</strong> @proveedor.ProveedorId</li>
                                                    <li><strong>Nombre:</strong> @proveedor.Nombre</li>
                                                    <li><strong>Correo Electrónico:</strong> @proveedor.Email</li>
                                                    <li><strong>Tel&eacute;fono:</strong> @proveedor.Telefono</li>
                                                    <li><strong>RNC:</strong> @proveedor.RNC</li>
                                                    <li><strong>Tipo de Contribuyente:</strong> @proveedor.TipoContribuyente</li>
                                                    <li><strong>Fecha de Creaci&oacute;n:</strong> @proveedor.Fecha</li>
                                                    <li><strong>Direcci&oacute;n:</strong> @proveedor.Direccion</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
            </div>
        </div>
    </div>
}
else
{
    <p>Proveedor no encontrado.</p>
}

@code {
    [Parameter]
    public int ProveedorId { get; set; }
    public Proveedores proveedor { get; set; } = new Proveedores();

    protected override async Task OnInitializedAsync()
    {
        if (ProveedorId > 0)
        {
            proveedor = await proveedoresService.Buscar(ProveedorId);
        }
    }

    private void Volver()
    {
        navigationManager.NavigateTo("/IndexProveedores");
    }
}
