@page "/EditEmpleados"
@page "/EditEmpleados/{EmpleadoId:int}"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject EmpleadosService empleadosService
@inject NotificationService NotificationService
@rendermode InteractiveServer

<RadzenNotification />
<EditForm Model="empleado" OnValidSubmit="Guardar" FormName="EditForm">
    <DataAnnotationsValidator />

    <div class="card" style="max-width: 1000px; left: 50%; transform: translate(-50%);">
        <!-- Encabezado de la Página -->
        <div class="card-header" style="background-color: #5D5C61">
            <div class="row" style="flex-direction: row; align-items: center;">
                <div class="col-3">
                    <div style="width: 100%; display: flex; justify-content: center;">
                        <img src="https://cdn-icons-png.flaticon.com/512/1019/1019607.png" alt="pan" style="max-width: 100%; height: auto;">
                    </div>
                </div>
                <div class="col-9">
                    <h1 style="text-align: center; color: #FFFFFF;"><strong>Editar Empleado</strong></h1>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @* <div class="col-md-6">
                <div class="form-group">
                <label for="EmpleadoId">Empleado Id:</label>
                <input type="text" class="form-control" id="EmpleadoId" @bind="empleado.EmpleadoId" />
                </div>
                </div> *@
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Nombre">Nombre:</label>
                        <input type="text" class="form-control" id="Nombre" @bind="empleado.Nombre" />
                        <ValidationMessage For="@(() => empleado.Nombre)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Direccion">Direcci&oacute;n:</label>
                        <input type="text" class="form-control" id="Direccion" @bind="empleado.Direccion" />
                        <ValidationMessage For="@(() => empleado.Direccion)" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Telefono">Tel&eacute;fono:</label>
                        <input type="text" class="form-control" id="Telefono" @bind="empleado.Telefono" />
                        <ValidationMessage For="@(() => empleado.Telefono)" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Fecha">Fecha de Ingreso:</label>
                        <input type="text" class="form-control" id="Fecha" @bind="empleado.FechaIngreso" />
                        <ValidationMessage For="@(() => empleado.FechaIngreso)" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Cedula">C&eacute;dula:</label>
                        <input type="text" class="form-control" id="Cedula" @bind="empleado.Cedula" />
                        <ValidationMessage For="@(() => empleado.Cedula)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center fs-5" style="background-color: #5D5C61">
            <button name="btNuevo" id="btNuevo" class="btn btn-primary mr-2" @onclick="Nuevo" type="button">
                <span class="bi bi-plus-circle"></span> Nuevo
            </button>
            <button name="btnGuardar" id="btnGuardar" class="btn btn-success mr-2" type="button">
                <span class="bi bi-download" @onclick="Guardar"></span> Guardar
            </button>
            <button name="btnEliminar" id="btnEliminar" class="btn btn-secondary" @onclick="Atras" type="button">
                <span class="bi bi-arrow-left-square-fill"></span> Volver Atrás
            </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int EmpleadoId { get; set; }
    public Empleados empleado { get; set; } = new Empleados();
    public string Mensaje = " ";
    private bool Guardo = false;

    protected override async Task OnInitializedAsync()
    {
        if (EmpleadoId > 0)
        {
            this.empleado.EmpleadoId = EmpleadoId;
            await this.Buscar();
        }

    }
    public async Task Buscar()
    {
        var clienteEncontrado = await empleadosService.Buscar(empleado.EmpleadoId);

        if (clienteEncontrado != null)
        {
            this.empleado = clienteEncontrado;
        }
    }


    public async Task Guardar()
    {
        var nombreExistente = await empleadosService.ValidarNombre(empleado.Nombre);
        if (nombreExistente)
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "El nombre ya existe.",
                    Duration = 5000
                };
            NotificationService.Notify(mensaje);
            return;
        }



        // Guardar el cliente si pasa las validaciones
        await empleadosService.Guardar(empleado);
        Guardo = true;
        var mensajeExito = new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Éxito",
                Detail = "Empleado guardado exitosamente.",
                Duration = 5000
            };
        NotificationService.Notify(mensajeExito);
        Nuevo();
    }
    public void Nuevo()
    {
        empleado = new Empleados();
    }

    void Atras()
    {
        NavigationManager.NavigateTo("IndexEmpleados");
    }
}
