@page "/IndexRecepcion"
@rendermode InteractiveServer
@inject RecepcionesServices recepcionesServices

<div class="card" style="max-width: 1400px; margin: 40px auto;">
    <div class="card-header" style="background-color: #5D5C61;">
        <div class="row align-items-center justify-content-center">
            <div class="col-3">
                <img src="/Images/CrearRecepcion.png" alt="pan" style="max-width: 50%; height: auto;">
            </div>
            <div class="col-9">
                <h1 style="text-align: center; color: #FFFFFF;"><strong>Consulta de Ventas</strong></h1>
            </div>
        </div>
    </div>

    <div class="card-body">
        <!-- Filtro de búsqueda de clientes -->
        <div class="row mt-3">
            <div class="col-3">
                <label>Filtrar Por</label>
                <select @bind="Opcion" class="form-select">
                    <option value="0">Todo</option>
                    <option value="1">RecepcionId</option>
                    <option value="2">Concepto</option>
                </select>
            </div>
            @if (Opcion == 1)
            {
                <div class="col-3">
                    <label>ID</label>
                    <div class="input-group">
                        <input type="number" @bind="RecepcionesId" class="form-control" />
                    </div>
                </div>
            }
            else if (Opcion == 2)
            {
                <div class="col-3">
                    <label>Nombre</label>
                    <div class="input-group">
                        <input type="text" @bind="Concepto" class="form-control" />
                    </div>
                </div>
            }
            <div class="col-3">
                <label>Desde:</label>
                <input type="date" @bind="Desde" class="form-control" />
            </div>
            <div class="col-3">
                <label>Hasta:</label>
                <input type="date" @bind="Hasta" class="form-control" />
            </div>
            <div class="col-3">
                <button type="button" @onclick="Buscar" class="btn btn-primary mt-4">
                    <i class="bi bi-search"></i> Buscar
                </button>
            </div>
        </div>

        <!-- Tabla de resultados -->
        <table class="table table-striped table-bordered mt-4">
            <thead>
                <tr>
                    <th scope="col" style="width: 90px;">RecepcionId</th>
                    <th scope="col" style="width: 160px;">Producto</th>
                    <th scope="col" style="width: 160px;">Concepto</th>
                    <th scope="col" style="width: 160px;">Cantidad</th>
                    <th scope="col" style="width: 150px;">Fecha</th>
                    <th scope="col" style="width: 150px;">Cedula</th>
                    <th scope="col" style="width: 160px;">Fecha</th>
                    <th scope="col" style="width: 100px;">Ver</th>
                    <th scope="col" style="width: 100px;">Editar</th>
                    <th scope="col" style="width: 100px;">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recepcion in ListaRecepciones)
                {
                    <tr>
                        <td>@recepcion.RecepcionId</td>
                        <td>@recepcion.ProductoId</td>
                        <td>@recepcion.Concepto</td>
                        <td>@recepcion.Cantidad</td>
                        <td>@recepcion.Fecha.ToShortDateString()</td>
                       
                        <td>
                            <div style="text-align:center">
                                <a href="/ViewCliente/@recepcion.RecepcionId" class="btn btn-outline-primary bi bi-eye"></a>
                            </div>
                        </td>
                        <td>
                            <div style="text-align: center;">
                                <a href="/EditarCliente/@recepcion.RecepcionId" class="btn btn-outline-warning bi bi-pencil"></a>
                            </div>
                        </td>
                        <td>
                            <div style="text-align: center;">
                                <a href="/DeleteCliente/@recepcion.RecepcionId" class="btn btn-outline-danger bi bi-trash-fill"></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    public List<Recepciones> ListaRecepciones { get; set; } = new List<Recepciones>();
    public int Opcion { get; set; } = 0;
    public int RecepcionesId { get; set; }
    public string Concepto { get; set; }
    public DateTime Desde { get; set; }
    public DateTime Hasta { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CargarClientes();
    }

    public async Task CargarClientes()
    {
        ListaRecepciones = await recepcionesServices.Listar(t => true);
        Desde = DateTime.Now.AddMonths(-1);
        Hasta = DateTime.Now;
    }

    public async Task Buscar()
    {
        Hasta = new DateTime(Hasta.Year, Hasta.Month, Hasta.Day, 23, 59, 59);

        switch (Opcion)
        {
            case 0:
                ListaRecepciones = await recepcionesServices.Listar(t => t.Fecha >= Desde && t.Fecha <= Hasta);
                break;
            case 1:
                ListaRecepciones = await recepcionesServices.Listar(t => t.RecepcionId == RecepcionesId && t.Fecha >= Desde && t.Fecha <= Hasta);
                break;
            case 2:
                ListaRecepciones = await recepcionesServices.Listar(t => t.Concepto.ToLower().Contains(Concepto.ToLower()) && t.Fecha >= Desde && t.Fecha <= Hasta);
                break;
            default:
                break;
        }
    }
}
